@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Atyp Display";
  src: url("../font/AtypDisplay/AtypDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: "Atyp Display";
  src: url("../font/AtypDisplay/AtypDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: "Atyp Display";
  src: url("../font/AtypDisplay/AtypDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: "Atyp Display";
  src: url("../font/AtypDisplay/AtypText-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap; }
:root {
  --main-font: "Atyp Display", sans-serif;
  --blue: #5555FF;
  --dark-blue: #3737b4;
  --btn-shadow: 0px 1px 27px rgba(0, 73, 155, 0.08);
  --main-text-color: #2F2F3F;
  --text-color-lighter: #4F4F6D;
  --grey-text: #A1A1AD;
  --grey-bg: rgba(0, 0, 107, 0.03);
  --grey-bg-dark: #F4F4F7;
  --red: #F63261;
  --green: #20C927; }

html,
body {
  min-height: 100vh; }

html {
  font-size: 10px; }

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#F7FAFD), to(rgba(247, 250, 253, 0)));
  background: linear-gradient(180deg, #F7FAFD 0%, rgba(247, 250, 253, 0) 100%);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 1.6rem;
  overflow-x: hidden; }

.noscroll {
  overflow: hidden; }

img {
  max-width: 100%; }

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s; }

h1,
.h1 {
  font-size: 7.2rem;
  line-height: 1.1; }

h2,
.h2 {
  font-size: 4.8rem;
  line-height: 1.2; }

h3,
.h3 {
  font-size: 3.6rem;
  line-height: 1.2; }

h4,
.h4 {
  font-size: 2.4rem;
  line-height: 1.2; }

h5,
.h5 {
  font-size: 2rem; }

p {
  font-size: 1.6rem;
  line-height: 130%;
  color: var(--text-color-lighter); }

.font-300 {
  font-weight: 300; }

.font-500 {
  font-weight: 500; }

b,
strong {
  font-weight: 700; }

.font-700 {
  font-weight: 700; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.wrapper {
  height: 100%; }

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px; }
  .container--full {
    max-width: 1370px; }

.text--lg {
  font-size: 1.8rem;
  line-height: 1.4; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: url("../img/top-decor_blue.png") 0 108% no-repeat, url("../img/top-decor_green.png") 100% 108% no-repeat; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.grey {
  color: var(--grey-text); }

.blue {
  color: var(--blue); }

.red {
  color: var(--red); }

.green {
  color: var(--green); }

.svg-sprite,
.show-mobile {
  display: none; }

.decor-blur {
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .decor-blur--blue {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174AFF));
    background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
    -webkit-filter: blur(200px);
            filter: blur(200px);
    top: 60rem;
    right: 0;
    -webkit-animation: nudge 15s linear infinite;
            animation: nudge 15s linear infinite; }
  .decor-blur--red {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF7BCA), to(rgba(255, 197, 111, 0.46)));
    background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
    -webkit-filter: blur(200px);
            filter: blur(200px);
    top: 20rem;
    left: 0;
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    -webkit-animation: nudge-reverse 15s linear infinite;
            animation: nudge-reverse 15s linear infinite;
    -webkit-animation-delay: 9s;
            animation-delay: 9s; }

@-webkit-keyframes nudge {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); }
  100% {
    -webkit-transform: translatex(100vw);
            transform: translatex(100vw); } }

@keyframes nudge {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); }
  100% {
    -webkit-transform: translatex(100vw);
            transform: translatex(100vw); } }
@-webkit-keyframes nudge-reverse {
  0% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%); }
  100% {
    -webkit-transform: translatex(-100vw);
            transform: translatex(-100vw); } }
@keyframes nudge-reverse {
  0% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%); }
  100% {
    -webkit-transform: translatex(-100vw);
            transform: translatex(-100vw); } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*Header*/
.header {
  padding: 3rem 0; }
  .header .search-form,
  .header .user {
    margin-right: 3rem; }

.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 2.4rem;
  margin-right: 2em; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color-lighter);
  font-size: 1.6rem; }
  .menu li {
    padding: 0 1.25em;
    position: relative; }
    .menu li:not(:last-child)::after {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: rgba(47, 47, 63, 0.1);
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .menu li:first-child {
      padding-left: 0; }
    .menu li a:hover, .menu li a.active {
      color: var(--blue); }

.search-form {
  width: 25rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  padding-left: 36px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--grey-bg); }
  .search-form form {
    width: 100%; }

.search-input {
  display: block;
  width: 100%;
  height: 36px;
  background-color: transparent;
  font-family: var(--main-font);
  font-size: 14px;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .search-input::-webkit-input-placeholder {
    font-size: 12px;
    color: var(--grey-text);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .search-input:-ms-input-placeholder {
    font-size: 12px;
    color: var(--grey-text);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .search-input::-ms-input-placeholder {
    font-size: 12px;
    color: var(--grey-text);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .search-input::placeholder {
    font-size: 12px;
    color: var(--grey-text);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .search-input:focus::-webkit-input-placeholder {
    opacity: 0; }
  .search-input:focus:-ms-input-placeholder {
    opacity: 0; }
  .search-input:focus::-ms-input-placeholder {
    opacity: 0; }
  .search-input:focus::placeholder {
    opacity: 0; }

.search-submit {
  width: 36px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--grey-text);
  background: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .search-submit:hover {
    color: var(--blue); }

.user__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 10px; }
  .user__avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
.user__name {
  font-weight: 700; }

a.user:hover {
  color: var(--blue); }

.header__cta .btn:not(:last-child) {
  margin-right: 2rem; }

.mobile-btn,
.mobile-menu {
  display: none; }

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-family: var(--main-font);
  font-weight: 500;
  border-radius: 8px;
  padding: 0.75em 1.4285em .7em;
  position: relative;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn .icon {
    width: .8em;
    height: .8em;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: relative;
    margin-left: 0.5em; }
    .btn .icon svg {
      width: 100%;
      height: 100%;
      display: block; }
    .btn .icon--plus {
      width: 0.7em;
      height: 0.7em;
      position: relative;
      top: -0.1em; }
      .btn .icon--plus::before, .btn .icon--plus::after {
        content: '';
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: currentColor;
        position: absolute;
        top: 50%;
        left: 0; }
      .btn .icon--plus::after {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
  .btn--white {
    background-color: #fff;
    -webkit-box-shadow: var(--btn-shadow);
            box-shadow: var(--btn-shadow);
    color: var(--blue); }
  .btn--blue {
    background-color: var(--blue);
    color: #fff; }
  .btn--grey {
    background-color: var(--grey-bg-dark);
    color: var(--blue); }
  .btn--notice {
    padding-left: 1em;
    padding-right: 1em; }
  .btn--lg {
    font-size: 2rem;
    padding: 1em 1.3em; }
    .btn--lg .icon {
      width: .8em;
      height: .8em; }
      .btn--lg .icon--plus {
        width: .7em;
        height: .7em; }
  .btn:hover {
    background-color: var(--dark-blue);
    color: #fff; }
  .btn:active {
    background-color: #1111fd; }

.notice-badge {
  font-size: 12px;
  height: 1.7em;
  min-width: 1.7em;
  padding: 3px 5px 1px;
  background-color: var(--red);
  color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%); }

.first-screen {
  padding: 7rem 0 6rem; }
  .first-screen .h1 {
    margin-bottom: 0.25em; }
  .first-screen .h3 {
    font-size: 2.2rem;
    line-height: 1.4;
    color: var(--text-color-lighter); }

.first-screen__content {
  padding-left: 9.5rem; }
  .first-screen__content .btn-container {
    margin-top: 2rem; }
    .first-screen__content .btn-container .btn:not(:last-child) {
      margin-right: 1.2em; }

.about {
  padding: 6rem 0 2rem; }
  .about .h1 {
    margin-bottom: 0.5em; }

.about-list {
  margin: 0 -2.2rem; }
  .about-list__item {
    width: 33.333%;
    padding: 0 2.2rem;
    margin-bottom: 4rem; }
    .about-list__item__content__img {
      width: 7.2rem;
      height: 7.2rem;
      margin-bottom: 1.6rem; }
      .about-list__item__content__img img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
    .about-list__item__content__descr .h5 {
      margin-bottom: 1.2em;
      font-weight: 500; }
    .about-list__item__content__descr p {
      max-width: 90%;
      font-size: 1.7rem; }

.features {
  padding: 6rem 0; }
  .features .h1 {
    margin-bottom: 0.75em; }

.features-item__descr {
  width: 40%;
  padding-top: 10rem; }
  .features-item__descr__content {
    padding-left: 5rem; }
    .features-item__descr__content p {
      margin-bottom: 1em; }
  .features-item__descr .h2 {
    line-height: 130%;
    margin-bottom: 0.2em; }
.features-item__img {
  width: 50%;
  line-height: 0; }
  .features-item__img img {
    width: 100%;
    border-radius: 8px; }
.features-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .features-item:nth-child(even) .features-item__img {
    width: 52%;
    margin: -2rem 0; }

.exclusive {
  padding: 8rem 0;
  background: linear-gradient(45deg, #F5F8FF, #F8F8FC);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px); }
  .exclusive .h2 {
    margin-bottom: 1em; }
    .exclusive .h2 .blue {
      display: inline-block;
      border-bottom: 2px solid currentColor;
      line-height: 1; }
    .exclusive .h2 .grey {
      font-size: 0.75em; }

.tab-list {
  font-size: 4.8rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.5em; }
  .tab-list li {
    margin: 0 .3em;
    position: relative;
    cursor: pointer;
    color: var(--grey-text);
    -webkit-transition: all .3s;
    transition: all .3s; }
    .tab-list li::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
      opacity: 0; }
    .tab-list li.active {
      color: var(--blue); }
      .tab-list li.active::after {
        opacity: 1; }
    .tab-list li:hover {
      color: var(--blue); }
  .tab-list .tab-list__item--lg {
    font-size: 4.8rem; }

.tab-content {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s; }
  .tab-content.active {
    height: auto;
    visibility: visible;
    overflow: visible;
    opacity: 1; }

.top {
  padding: 8rem 0; }
  .top .h2 {
    line-height: 130%;
    margin-bottom: 1em; }

.become-seller {
  padding: 7rem 0 16rem;
  text-align: center; }
  .become-seller .h1 {
    line-height: 130%;
    margin-bottom: .5rem; }
  .become-seller .h4 {
    color: var(--text-color-lighter);
    margin-bottom: 1em; }

.slider {
  margin: 0 -1.6rem; }
  .slider .slick-arrow {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
            box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
    -webkit-backdrop-filter: blur(36px);
            backdrop-filter: blur(36px);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: var(--blue);
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 1; }
    .slider .slick-arrow:hover {
      background: var(--blue);
      color: #fff; }
  .slider .prev-arrow {
    left: 0;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%); }
  .slider .next-arrow {
    right: 0;
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%); }

.slide {
  padding: 0 1.6rem; }
  .slide .product-card {
    width: 100%; }

.top-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.top-slider .slick-arrow {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
          box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
  -webkit-backdrop-filter: blur(36px);
          backdrop-filter: blur(36px);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--blue);
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .top-slider .slick-arrow:hover {
    background: var(--blue);
    color: #fff; }
.top-slider .prev-arrow {
  left: 4rem; }
.top-slider .next-arrow {
  right: 4rem; }

.top-slide {
  height: auto;
  padding: 0 1.5rem; }
  .top-slide--single {
    width: 40rem; }
    .top-slide--single .top-slide__content {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .top-slide--double {
    width: 60rem; }

.top-slide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -1.5rem; }
  .top-slide__row:not(:last-child) {
    margin-bottom: 3rem; }
  .top-slide__row .product-card {
    padding: 0 2.5rem; }
    .top-slide__row .product-card:first-child {
      width: 60%; }
    .top-slide__row .product-card:last-child {
      width: 40%; }

.product-card {
  position: relative; }
  .product-card:hover .product-data-on-hover {
    opacity: 1;
    visibility: visible; }

.product-card__img {
  width: 100%;
  display: block;
  position: relative;
  line-height: 0; }
  .product-card__img::before {
    content: '';
    width: 100%;
    height: 70%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(6.67%, rgba(0, 0, 0, 0.991353)), color-stop(13.33%, rgba(0, 0, 0, 0.96449)), color-stop(20%, rgba(0, 0, 0, 0.91834)), color-stop(26.67%, rgba(0, 0, 0, 0.852589)), color-stop(33.33%, rgba(0, 0, 0, 0.768225)), color-stop(40%, rgba(0, 0, 0, 0.668116)), color-stop(46.67%, rgba(0, 0, 0, 0.557309)), color-stop(53.33%, rgba(0, 0, 0, 0.442691)), color-stop(60%, rgba(0, 0, 0, 0.331884)), color-stop(66.67%, rgba(0, 0, 0, 0.231775)), color-stop(73.33%, rgba(0, 0, 0, 0.147411)), color-stop(80%, rgba(0, 0, 0, 0.0816599)), color-stop(86.67%, rgba(0, 0, 0, 0.03551)), color-stop(93.33%, rgba(0, 0, 0, 0.0086472)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.991353) 6.67%, rgba(0, 0, 0, 0.96449) 13.33%, rgba(0, 0, 0, 0.91834) 20%, rgba(0, 0, 0, 0.852589) 26.67%, rgba(0, 0, 0, 0.768225) 33.33%, rgba(0, 0, 0, 0.668116) 40%, rgba(0, 0, 0, 0.557309) 46.67%, rgba(0, 0, 0, 0.442691) 53.33%, rgba(0, 0, 0, 0.331884) 60%, rgba(0, 0, 0, 0.231775) 66.67%, rgba(0, 0, 0, 0.147411) 73.33%, rgba(0, 0, 0, 0.0816599) 80%, rgba(0, 0, 0, 0.03551) 86.67%, rgba(0, 0, 0, 0.0086472) 93.33%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.6;
    border-radius: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .product-card__img img {
    width: 100%;
    display: block;
    border-radius: 22px;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .product-card__img--decor::after {
    content: '';
    width: 92%;
    height: 100%;
    background-color: #E0E0EF;
    border-radius: 10px;
    position: absolute;
    bottom: -.8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .product-card__img .user {
    position: absolute;
    width: 100%;
    padding: 1em;
    bottom: 0;
    left: 0;
    font-size: 1.4rem;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 1; }
    .product-card__img .user__avatar {
      width: 2.5rem;
      height: 2.5rem; }
    .product-card__img .user__name {
      font-weight: 400; }

a.product-card__img:hover::before {
  opacity: 0; }
a.product-card__img:hover .user {
  text-shadow: 1px 1px #000; }
a.product-card__img--decor:hover::after {
  bottom: 0; }

.product-card__data {
  margin-top: 1.6rem; }

.product__name {
  margin-bottom: 0.3em;
  font-weight: 500; }
  .product__name--lg {
    font-size: 2.4rem;
    font-weight: 700; }

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.crypto-price {
  font-size: 2rem;
  font-weight: 700; }
  .crypto-price--lt {
    font-size: 1.6rem; }

.usd-price {
  font-size: 1.4rem;
  padding-left: 0.5em; }

.product-data-on-hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 27px rgba(0, 73, 155, 0.08);
          box-shadow: 0px 1px 27px rgba(0, 73, 155, 0.08);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26rem;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 10; }
  .product-data-on-hover .user {
    margin-bottom: 0.75rem; }
    .product-data-on-hover .user__avatar {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 4px; }
    .product-data-on-hover .user__name {
      font-size: 12px; }
  .product-data-on-hover .product__name {
    margin-bottom: 1rem; }
  .product-data-on-hover .product__price {
    margin-bottom: 1rem; }

/*Footer*/
.footer {
  background-color: #2F2F3F;
  color: #fff;
  padding: 6rem 0; }
  .footer__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .footer__item:not(:last-child) {
      padding-right: 2rem; }
    .footer__item .h5 {
      margin-bottom: 0.5em; }
    .footer__item__menu {
      padding-top: 0.5em;
      color: var(--grey-text);
      font-size: 1.3rem; }
      .footer__item__menu li:not(:last-child) {
        margin-bottom: 1em; }
      .footer__item__menu a:hover {
        color: #fff; }
    .footer__item .copyright {
      margin-top: 3rem;
      color: var(--grey-text);
      font-size: 1.3rem; }

.subscribe-block {
  margin-bottom: 3rem; }

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .subscribe-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .subscribe-form__input {
    width: 24rem;
    height: 35px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 73, 155, 0.08);
            box-shadow: 0px 1px 3px rgba(0, 73, 155, 0.08);
    border-radius: 8px 0px 0px 8px;
    padding-left: 15px;
    color: #fff;
    font-family: var(--main-font);
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none; }
  .subscribe-form__submit {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    font-family: var(--main-font);
    font-weight: 500;
    border-radius: 0 8px 8px 0;
    height: 35px;
    padding: 0 .75em;
    background: var(--blue);
    color: #fff;
    position: relative;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .subscribe-form__submit .icon {
      width: .8em;
      height: .8em;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      position: relative;
      margin-left: 0.5em; }
      .subscribe-form__submit .icon svg {
        width: 100%;
        height: 100%;
        display: block; }
    .subscribe-form__submit:hover {
      background-color: var(--dark-blue);
      color: #fff; }
    .subscribe-form__submit:active {
      background-color: #1111fd; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -0.5rem; }
  .social li {
    padding: 0 .5em; }
    .social li a {
      display: block;
      width: 22px;
      height: 22px; }
      .social li a img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain; }
      .social li a:hover {
        opacity: 0.7; }

@media (max-width: 1360px) {
  html {
    font-size: 0.6vw; }

  h4,
  .h4 {
    font-size: 2.8rem;
    line-height: 1.2; }

  h5,
  .h5 {
    font-size: 2.8rem; }

  p {
    font-size: 1.8rem; }

  .text--lg {
    font-size: 2.4rem; }

  .about-list__item__content__descr p {
    font-size: 2rem; }

  .btn {
    font-size: 1.8rem; }

  .slider .next-arrow,
  .slider .prev-arrow {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); } }
@media (max-width: 1280px) {
  .menu {
    font-size: 2.4rem; }
    .menu li {
      padding: 0 .5em; }

  .menu li:not(:last-child)::after {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%); }

  .header .user__name {
    display: none; }

  .search-form {
    width: 32rem; }

  .first-screen .h3 {
    font-size: 3rem; }

  .first-screen__content {
    padding-left: 0; }

  .btn {
    font-size: 14px; } }
@media (max-width: 1023px) {
  html {
    font-size: 7px; }

  .hide-tablet {
    display: none !important; }

  .logo {
    font-size: 3rem; }

  .header .user__name {
    display: block;
    font-size: 12px; }

  .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 24px;
    height: 18px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    color: var(--main-text-color);
    margin-right: 3rem; }
    .mobile-btn::before, .mobile-btn::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      left: 0; }
    .mobile-btn::before {
      top: 0; }
    .mobile-btn::after {
      bottom: 0;
      width: 75%;
      background-color: var(--blue); }
    .mobile-btn span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: currentColor; }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 360px;
    height: 100vh;
    background-color: #fff;
    -webkit-box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 20px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    visibility: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    z-index: 20; }
    .mobile-menu.active {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      visibility: visible; }
    .mobile-menu .logo {
      display: block;
      margin-bottom: 20px; }
    .mobile-menu .search-form {
      width: 100%;
      margin-bottom: 50px;
      -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
              box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }
    .mobile-menu .menu {
      display: block;
      font-size: 18px;
      margin-bottom: 50px; }
      .mobile-menu .menu li {
        padding: 0 !important;
        margin-bottom: 1em; }
        .mobile-menu .menu li::after {
          display: none; }
    .mobile-menu .header__cta .btn {
      margin-bottom: 15px; }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 15;
    display: none; }

  .close-menu {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px; }
    .close-menu::before, .close-menu::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #000;
      position: absolute;
      left: 0;
      top: 50%; }
    .close-menu::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close-menu::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

  .open-menu {
    overflow: hidden; }
    .open-menu .mobile-menu {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      visibility: visible; }
    .open-menu #overlay {
      display: block; }

  .about-list__item {
    width: 50%;
    margin-bottom: 30px; }

  .about-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .about-list__item__content__img {
    -webkit-box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
            box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
    border-radius: 10px;
    margin-bottom: 10px; }

  .product-card__data {
    display: block; }

  .product-card__data__left {
    margin-bottom: 10px; }

  .crypto-price--lt {
    font-size: 14px; }

  .usd-price {
    font-size: 12px; }

  .footer__item .h5 {
    font-size: 15px;
    margin-bottom: 10px; } }
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 34px; }

  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__item {
    width: 33.333%;
    margin-bottom: 15px; }
    .footer__item:last-child {
      width: 100%; }

  .tab-list {
    font-size: 24px; }

  .first-screen__content .btn-container .btn:not(:last-child) {
    margin-bottom: 10px; }

  .top-slide {
    padding: 0 5px; }

  .decor-blur {
    display: none; }

  .top-slide__row {
    margin: 0 -5px; }

  .top-slide__row .product-card {
    padding: 0 5px; }

  .top-slide__row:not(:last-child) {
    margin-bottom: 10px; }

  .top-slide--single {
    width: 280px; }

  .top-slide--double {
    width: 320px; }

  .features-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .features-item:nth-child(even) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }

  .features-item__descr,
  .features-item__img,
  .features-item:nth-child(even) .features-item__img {
    width: 100%; }

  .features-item,
  .features-item:nth-child(even) {
    margin: 0 0 30px; }

  .features-item__img {
    text-align: center; }
    .features-item__img img {
      max-width: 400px; }

  .features-item__descr {
    padding-top: 20px; }

  .features-item__descr__content {
    padding-left: 0; }

  .features-item:nth-child(even) .features-item__img {
    margin: 0; }

  .slide {
    width: 260px; }

  .hide-mobile {
    display: none; }

  .show-mobile {
    display: block; }

  .show-mobile.copyright {
    width: 100%;
    color: #fff;
    margin-top: 30px; }

  .subscribe-form {
    margin-top: 15px; }

  .subscribe-form__input {
    width: 70%; }

  .subscribe-form__submit {
    width: 30%; } }
@media (max-width: 480px) {
  .header .user__name {
    display: none; }
  .header .user__avatar {
    margin-right: 0; }

  .about-list__item {
    width: 100%; }

  .about-list__item__content__descr p {
    font-size: 16px; }

  .about-list__item__content__img {
    margin-bottom: 15px;
    width: 60px;
    height: 60px; }

  .footer__item {
    width: 50%; }

  .footer__item__menu {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */