.about {
    padding: 6rem 0 2rem;
    .h1 {
        margin-bottom: 0.5em;
    }
}

.about-list {
    margin: 0 -2.2rem;
    &__item {
        width: 33.333%;
        padding: 0 2.2rem;
        margin-bottom: 4rem;
        &__content__img {
            width: 7.2rem;
            height: 7.2rem;
            margin-bottom: 1.6rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__content__descr {
            .h5 {
                margin-bottom: 1.2em;
                font-weight: 500;
            }
            p {
                max-width: 90%;
                font-size: 1.7rem;
            }
        }
    }
}