.btn {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--main-font);
    font-weight: 500;
    border-radius: 8px;
    padding: 0.75em 1.4285em .7em;
    position: relative;
    white-space: nowrap;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    .icon {
        width: .8em;
        height: .8em;
        flex: none;
        position: relative;
        margin-left: 0.5em;
        svg {
            width: 100%;
            height: 100%;
            display: block;
        }
        &--plus {
            width: 0.7em;
            height: 0.7em;
            position: relative;
            top: -0.1em;
            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                border-radius: 2px;
                background-color: currentColor;
                position: absolute;
                top: 50%;
                left: 0;
            }
            &::after {
                transform: rotate(90deg);
            }
        }
    }
    &--white {
        background-color: #fff;
        box-shadow: var(--btn-shadow);
        color: var(--blue);
    }
    &--blue {
        background-color: var(--blue);
        color: #fff;
    }
    &--grey {
        background-color: var(--grey-bg-dark);
        color: var(--blue);
    }
    &--notice {
        padding-left: 1em;
        padding-right: 1em;
    }
    &--lg {
        font-size: 2rem;
        padding: 1em 1.3em;
        .icon {
            width: .8em;
            height: .8em;
            &--plus {
                width: .7em;
                height: .7em;
            }
        }
    }
    &:hover {
        background-color: var(--dark-blue);
        color: #fff;
    }
    &:active {
        background-color: #1111fd;
    }
}

.notice-badge {
    font-size: 12px;
    height: 1.7em;
    min-width: 1.7em;
    padding: 3px 5px 1px;
    background-color: var(--red);
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}