.exclusive {
    padding: 8rem 0;
    background: linear-gradient(45deg, #F5F8FF, #F8F8FC);
    backdrop-filter: blur(200px);
    .h2 {
        margin-bottom: 1em;
        .blue {
            display: inline-block;
            border-bottom: 2px solid currentColor;
            line-height: 1;
        }
        .grey {
            font-size: 0.75em;
        }
    }
}

.tab-list {
    font-size: 4.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1.5em;
    li {
        margin: 0 .3em;
        position: relative;
        cursor: pointer;
        color: var(--grey-text);
        transition: all .3s;
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: currentColor;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all .3s;
            opacity: 0;
        }
        &.active {
            color: var(--blue);
            &::after {
                opacity: 1;
            }
        }
        &:hover {
            color: var(--blue);
        }
    }
    .tab-list__item--lg {
        font-size: 4.8rem;
    }
}

.tab-content {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
    transition-delay: .1s;
    &.active {
        height: auto;
        visibility: visible;
        overflow: visible;
        opacity: 1;
    }
}