.features {
    padding: 6rem 0;
    .h1 {
        margin-bottom: 0.75em;
    }
}

.features-item {
    &__descr {
        width: 40%;
        padding-top: 10rem;
        &__content {
            padding-left: 5rem;
            p {
                margin-bottom: 1em;
            }
        }
        .h2 {
            line-height: 130%;
            margin-bottom: 0.2em;
        }
    }
    &__img {
        width: 50%;
        line-height: 0;
        img {
            width: 100%;
            border-radius: 8px;
        }
    }
    &:nth-child(even) {
        flex-direction: row-reverse;
        .features-item__img {
            width: 52%;
            margin: -2rem 0;
        }
    }
}