.first-screen {
    padding: 7rem 0 6rem;
    .h1 {
        margin-bottom: 0.25em;
    }
    .h3 {
        font-size: 2.2rem;
        line-height: 1.4;
        color: var(--text-color-lighter)
    }
}

.first-screen__content {
    padding-left: 9.5rem;
    .btn-container {
        margin-top: 2rem;
        .btn {
            &:not(:last-child) {
                margin-right: 1.2em;
            }
        }
    }
}