@font-face {
    font-family: "Atyp Display";
    src: url("../font/AtypDisplay/AtypDisplay-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Atyp Display";
    src: url("../font/AtypDisplay/AtypDisplay-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Atyp Display";
    src: url("../font/AtypDisplay/AtypDisplay-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Atyp Display";
    src: url("../font/AtypDisplay/AtypText-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}