/*Footer*/

.footer {
    background-color: #2F2F3F;
    color: #fff;
    padding: 6rem 0;
    &__item {
        flex-grow: 1;
        &:not(:last-child) {
            padding-right: 2rem;
        }
        .h5 {
            margin-bottom: 0.5em;
        }
        &__menu {
            padding-top: 0.5em;
            color: var(--grey-text);
            font-size: 1.3rem;
            li:not(:last-child) {
                margin-bottom: 1em;
            }
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
        .copyright {
            margin-top: 3rem;
            color: var(--grey-text);
            font-size: 1.3rem;
        }
    }
}

.subscribe-block {
    margin-bottom: 3rem;
}

.subscribe-form {
    display: flex;
    form {
        display: flex;
        width: 100%;
    }
    &__input {
        width: 24rem;
        height: 35px;
        font-size: 14px;
        background: rgba(0, 0, 0, 0.23);
        box-shadow: 0px 1px 3px rgba(0, 73, 155, 0.08);
        border-radius: 8px 0px 0px 8px;
        padding-left: 15px;
        color: #fff;
        font-family: var(--main-font);
        border: none;
        appearance: none;
        outline: none;
    }
    &__submit {
        display: inline-flex;
        align-items: center;
        font-size: 1.4rem;
        font-family: var(--main-font);
        font-weight: 500;
        border-radius: 0 8px 8px 0;
        height: 35px;
        padding: 0 .75em;
        background: var(--blue);
        color: #fff;
        position: relative;
        white-space: nowrap;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all .3s;
        .icon {
            width: .8em;
            height: .8em;
            flex: none;
            position: relative;
            margin-left: 0.5em;
            svg {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        &:hover {
            background-color: var(--dark-blue);
            color: #fff;
        }
        &:active {
            background-color: #1111fd;
        }
    }
}

.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -0.5rem;
    li {
        padding: 0 .5em;
        a {
            display: block;
            width: 22px;
            height: 22px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}