/*Header*/

.header {
    padding: 3rem 0;
    .search-form,
    .user {
        margin-right: 3rem;
    }
}

.logo {
    display: inline-block;
    font-weight: 700;
    font-size: 2.4rem;
    margin-right: 2em;
}

.menu {
    display: flex;
    align-items: center;
    color: var(--text-color-lighter);
    font-size: 1.6rem;
    li {
        padding: 0 1.25em;
        position: relative;
        &:not(:last-child) {
            &::after {
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: rgba(#2F2F3F, .1);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%)
            }
        }
        &:first-child {
            padding-left: 0;
        }
        a {
            &:hover,
            &.active {
                color: var(--blue)
            }
        }
    }
}

.search-form {
    width: 25rem;
    flex: none;
    position: relative;
    padding-left: 36px;
    border-radius: 8px;
    overflow: hidden;
    background: var(--grey-bg);
    form {
        width: 100%;
    }
}

.search-input {
    display: block;
    width: 100%;
    height: 36px;
    background-color: transparent;
    font-family: var(--main-font);
    font-size: 14px;
    outline: none;
    border: none;
    appearance: none;
    &::placeholder {
        font-size: 12px;
        color: var(--grey-text);
        transition: all .3s;
    }
    &:focus {
        &::placeholder {
            opacity: 0;
        }
    }
}

.search-submit {
    width: 36px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-text);
    background: transparent;
    border: none;
    appearance: none;
    outline: none;
    transition: all .3s;
    &:hover {
        color: var(--blue);
    }
}

.user {
    &__avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        flex: none;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        font-weight: 700;
    }
}

a.user {
    &:hover {
        color: var(--blue);
    }
}

.header__cta {
    .btn {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

.mobile-btn,
.mobile-menu {
    display: none;
}