:root {
    --main-font: "Atyp Display", sans-serif;
    --blue: #5555FF;
    --dark-blue: #3737b4;
    --btn-shadow: 0px 1px 27px rgba(0, 73, 155, 0.08);
    --main-text-color: #2F2F3F;
    --text-color-lighter: #4F4F6D;
    --grey-text: #A1A1AD;
    --grey-bg: rgba(0, 0, 107, 0.03);
    --grey-bg-dark: #F4F4F7;
    --red: #F63261;
    --green: #20C927;
}

html,
body {
    min-height: 100vh;
}

html {
    font-size: 10px;
}

body {
    background: linear-gradient(180deg, #F7FAFD 0%, rgba(247, 250, 253, 0) 100%);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 1.6rem;
    overflow-x: hidden;
}

.noscroll {
    overflow: hidden;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    transition: all .2s;
}

h1,
.h1 {
    font-size: 7.2rem;
    line-height: 1.1;
}

h2,
.h2 {
    font-size: 4.8rem;
    line-height: 1.2;
}

h3,
.h3 {
    font-size: 3.6rem;
    line-height: 1.2;
}

h4,
.h4 {
    font-size: 2.4rem;
    line-height: 1.2;
}

h5,
.h5 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--text-color-lighter)
}

.font-300 {
    font-weight: 300;
}

.font-500 {
    font-weight: 500;
}

b,
strong {
    font-weight: 700;
}

.font-700 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.wrapper {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
    &--full {
        max-width: 1370px;
    }
}

.text--lg {
    font-size: 1.8rem;
    line-height: 1.4;
}

.main {
    flex: 1 0 auto;
    background: url('../img/top-decor_blue.png') 0 108% no-repeat, url('../img/top-decor_green.png') 100% 108% no-repeat;
}

.footer {
    flex: 0 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.grey {
    color: var(--grey-text);
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green)
}

.svg-sprite,
.show-mobile {
    display: none;
}

.decor-blur {
    width: 70rem;
    height: 70rem;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: all .4s;
    &--blue {
        background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
        filter: blur(200px);
        top: 60rem;
        right: 0;
        animation: nudge 15s linear infinite;
    }
    &--red {
        background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
        filter: blur(200px);
        top: 20rem;
        left: 0;
        transform: translateX(300%);
        animation: nudge-reverse 15s linear infinite;
        animation-delay: 9s;
    }
}

@keyframes nudge {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translatex(100vw);
    }
}

@keyframes nudge-reverse {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translatex(-100vw);
    }
}