@media(max-width: 1360px) {
    html {
        font-size: 0.6vw;
    }
    h4,
    .h4 {
        font-size: 2.8rem;
        line-height: 1.2;
    }
    h5,
    .h5 {
        font-size: 2.8rem;
    }
    p {
        font-size: 1.8rem;
    }
    .text--lg {
        font-size: 2.4rem;
    }
    .about-list__item__content__descr p {
        font-size: 2rem;
    }
    .btn {
        font-size: 1.8rem;
    }
    .slider .next-arrow,
    .slider .prev-arrow {
        transform: translate(0, -50%);
    }
}

@media(max-width: 1280px) {
    .menu {
        font-size: 2.4rem;
        li {
            padding: 0 .5em;
        }
    }
    .menu li:not(:last-child)::after {
        transform: translate(50%, -50%);
    }
    .header {
        .user {
            &__name {
                display: none;
            }
        }
    }
    .search-form {
        width: 32rem;
    }
    .first-screen .h3 {
        font-size: 3rem;
    }
    .first-screen__content {
        padding-left: 0;
    }
    .btn {
        font-size: 14px;
    }
}

@media(max-width: 1023px) {
    html {
        font-size: 7px;
    }
    .hide-tablet {
        display: none !important;
    }
    .logo {
        font-size: 3rem;
    }
    .header {
        .user {
            &__name {
                display: block;
                font-size: 12px;
            }
        }
    }
    .mobile-btn {
        display: flex;
        align-items: center;
        position: relative;
        width: 24px;
        height: 18px;
        flex: none;
        color: var(--main-text-color);
        margin-right: 3rem;
        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: currentColor;
            position: absolute;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
            width: 75%;
            background-color: var(--blue);
        }
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: currentColor;
        }
    }
    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        max-width: 360px;
        height: 100vh;
        background-color: #fff;
        box-shadow: 4px 0 20px rgba(#000, .2);
        padding: 50px 20px 40px;
        overflow-y: auto;
        transform: translateX(-120%);
        visibility: hidden;
        transition: transform .3s;
        z-index: 20;
        &.active {
            transform: translateX(0);
            visibility: visible;
        }
        .logo {
            display: block;
            margin-bottom: 20px;
        }
        .search-form {
            width: 100%;
            margin-bottom: 50px;
            box-shadow: 0 4px 10px rgba(#000, .1);
        }
        .menu {
            display: block;
            font-size: 18px;
            margin-bottom: 50px;
            li {
                padding: 0 !important;
                margin-bottom: 1em;
                &::after {
                    display: none;
                }
            }
        }
        .header__cta {
            .btn {
                margin-bottom: 15px;
            }
        }
    }
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(#000, .7);
        z-index: 15;
        display: none;
    }
    .close-menu {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 0;
            top: 50%;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    .open-menu {
        overflow: hidden;
        .mobile-menu {
            transform: translateX(0);
            visibility: visible;
        }
        #overlay {
            display: block;
        }
    }
    .about-list__item {
        width: 50%;
        margin-bottom: 30px;
    }
    .about-list {
        justify-content: center;
    }
    .about-list__item__content__img {
        box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .product-card__data {
        display: block;
    }
    .product-card__data__left {
        margin-bottom: 10px;
    }
    .crypto-price--lt {
        font-size: 14px;
    }
    .usd-price {
        font-size: 12px;
    }
    .footer__item .h5 {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

// 1023
@media(max-width: 767px) {
    h1,
    .h1 {
        font-size: 34px;
    }
    .footer {
        .container {
            flex-wrap: wrap;
        }
        &__item {
            width: 33.333%;
            margin-bottom: 15px;
            &:last-child {
                width: 100%;
            }
        }
    }
    .tab-list {
        font-size: 24px;
    }
    .first-screen__content .btn-container .btn:not(:last-child) {
        margin-bottom: 10px;
    }
    .top-slide {
        padding: 0 5px;
    }
    .decor-blur {
        display: none;
    }
    .top-slide__row {
        margin: 0 -5px;
    }
    .top-slide__row .product-card {
        padding: 0 5px;
    }
    .top-slide__row:not(:last-child) {
        margin-bottom: 10px;
    }
    .top-slide--single {
        width: 280px;
    }
    .top-slide--double {
        width: 320px;
    }
    .features-item {
        flex-direction: column-reverse;
        &:nth-child(even) {
            flex-direction: column-reverse;
        }
    }
    .features-item__descr,
    .features-item__img,
    .features-item:nth-child(even) .features-item__img {
        width: 100%;
    }
    .features-item,
    .features-item:nth-child(even) {
        margin: 0 0 30px;
    }
    .features-item__img {
        text-align: center;
        img {
            max-width: 400px;
        }
    }
    .features-item__descr {
        padding-top: 20px;
    }
    .features-item__descr__content {
        padding-left: 0;
    }
    .features-item:nth-child(even) .features-item__img {
        margin: 0;
    }
    .slide {
        width: 260px;
    }
    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
    .show-mobile.copyright {
        width: 100%;
        color: #fff;
        margin-top: 30px;
    }
    .subscribe-form {
        margin-top: 15px;
    }
    .subscribe-form__input {
        width: 70%;
    }
    .subscribe-form__submit {
        width: 30%;
    }
}

// 767
@media(max-width: 480px) {
    .header {
        .user {
            &__name {
                display: none;
            }
            &__avatar {
                margin-right: 0;
            }
        }
    }
    .about-list__item {
        width: 100%;
    }
    .about-list__item__content__descr p {
        font-size: 16px;
    }
    .about-list__item__content__img {
        margin-bottom: 15px;
        width: 60px;
        height: 60px;
    }
    .footer__item {
        width: 50%;
    }
    .footer__item__menu {
        font-size: 12px;
    }
}