.product-card {
    position: relative;
    &:hover {
        .product-data-on-hover {
            opacity: 1;
            visibility: visible;
        }
    }
}

.product-card__img {
    width: 100%;
    display: block;
    position: relative;
    line-height: 0;
    &::before {
        content: '';
        width: 100%;
        height: 70%;
        background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.991353) 6.67%, rgba(0, 0, 0, 0.96449) 13.33%, rgba(0, 0, 0, 0.91834) 20%, rgba(0, 0, 0, 0.852589) 26.67%, rgba(0, 0, 0, 0.768225) 33.33%, rgba(0, 0, 0, 0.668116) 40%, rgba(0, 0, 0, 0.557309) 46.67%, rgba(0, 0, 0, 0.442691) 53.33%, rgba(0, 0, 0, 0.331884) 60%, rgba(0, 0, 0, 0.231775) 66.67%, rgba(0, 0, 0, 0.147411) 73.33%, rgba(0, 0, 0, 0.0816599) 80%, rgba(0, 0, 0, 0.03551) 86.67%, rgba(0, 0, 0, 0.0086472) 93.33%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.6;
        border-radius: 16px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s;
    }
    img {
        width: 100%;
        display: block;
        border-radius: 22px;
        transition: all .3s;
    }
    &--decor {
        &::after {
            content: '';
            width: 92%;
            height: 100%;
            background-color: #E0E0EF;
            border-radius: 10px;
            position: absolute;
            bottom: -.8rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            transition: all .3s;
        }
    }
    .user {
        position: absolute;
        width: 100%;
        padding: 1em;
        bottom: 0;
        left: 0;
        font-size: 1.4rem;
        color: #fff;
        display: flex;
        align-items: center;
        transition: all .3s;
        z-index: 1;
        &__avatar {
            width: 2.5rem;
            height: 2.5rem;
        }
        &__name {
            font-weight: 400;
        }
    }
}

a.product-card__img {
    &:hover {
        &::before {
            opacity: 0;
        }
        .user {
            text-shadow: 1px 1px #000;
        }
    }
    &--decor {
        &:hover {
            &::after {
                bottom: 0;
            }
        }
    }
}

.product-card__data {
    margin-top: 1.6rem;
}

.product__name {
    margin-bottom: 0.3em;
    font-weight: 500;
    &--lg {
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.product__price {
    display: flex;
    align-items: center;
}

.crypto-price {
    font-size: 2rem;
    font-weight: 700;
    &--lt {
        font-size: 1.6rem;
    }
}

.usd-price {
    font-size: 1.4rem;
    padding-left: 0.5em;
}

.product-data-on-hover {
    background: #FFFFFF;
    box-shadow: 0px 1px 27px rgba(0, 73, 155, 0.08);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 26rem;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    z-index: 10;
    .user {
        margin-bottom: 0.75rem;
        &__avatar {
            width: 2.2rem;
            height: 2.2rem;
            margin-right: 4px;
        }
        &__name {
            font-size: 12px;
        }
    }
    .product__name {
        margin-bottom: 1rem;
    }
    .product__price {
        margin-bottom: 1rem;
    }
}