.slider {
    margin: 0 -1.6rem;
    .slick-arrow {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
        backdrop-filter: blur(36px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--blue);
        cursor: pointer;
        transition: all .3s;
        z-index: 1;
        &:hover {
            background: var(--blue);
            color: #fff;
        }
    }
    .prev-arrow {
        left: 0;
        transform: translate(-100%, -50%);
    }
    .next-arrow {
        right: 0;
        transform: translate(100%, -50%);
    }
}

.slide {
    padding: 0 1.6rem;
    .product-card {
        width: 100%;
    }
}