.top {
    padding: 8rem 0;
    .h2 {
        line-height: 130%;
        margin-bottom: 1em;
    }
}

.become-seller {
    padding: 7rem 0 16rem;
    text-align: center;
    .h1 {
        line-height: 130%;
        margin-bottom: .5rem;
    }
    .h4 {
        color: var(--text-color-lighter);
        margin-bottom: 1em;
    }
}