.top-slider {
    .slick-track {
        display: flex;
    }
    .slick-arrow {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0px 12px 20px rgba(0, 53, 121, 0.1);
        backdrop-filter: blur(36px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--blue);
        cursor: pointer;
        z-index: 1;
        transition: all .3s;
        &:hover {
            background: var(--blue);
            color: #fff;
        }
    }
    .prev-arrow {
        left: 4rem;
    }
    .next-arrow {
        right: 4rem;
    }
}

.top-slide {
    height: auto;
    padding: 0 1.5rem;
    &--single {
        width: 40rem;
        .top-slide__content {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &--double {
        width: 60rem;
    }
}

.top-slide__row {
    display: flex;
    margin: 0 -1.5rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    .product-card {
        padding: 0 2.5rem;
        &:first-child {
            width: 60%;
        }
        &:last-child {
            width: 40%;
        }
    }
}